{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Concession Form</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'railway/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'railway/main1.css' %}">
<!--===============================================================================================-->
</head>
<body>

	
				
		
		
	
	<div class="limiter">
		<div class="container-table100">
				<div class="form-control1" style="margin:15px">
						<form class="form-inline" style="margin:auto;width:100%">
									
								<div class="form-group mx-sm-3 mb-2">
								  <label for="inputPassword2" class="sr-only">Password</label>
								  <input  style="border:1px solid black!important;" type="number" class="form-control" id="inputPassword2" placeholder="Enter Number">
								</div>
								<button type="submit" class="btn btn-warning mb-2">Confirm identity</button>
								<a href = "{% url 'railway:ticket' %}"><button class="btn btn-warning mb-2" onclick="newPage()">Print Tickets</button></a>
							  
							</form>
				</div>
			<div class="wrap-table100">
				<div class="table100">
						<table>
								<thead>
									<tr class="table100-head">
										<th class="column6">Aadhar No.</th>
										<th class="column6">Name</th>
										<th class="column6">Gender</th>
										<th class="column6">Address 1</th>
										<th class="column6">Address 2</th>
										<th class="column6">From</th>
										<th class="column6">To</th>
										<th class="column6">Accepted</th>
									</tr>
								</thead>
								<tbody>
									{% for student in students %}
								
									<tr>
											
											<td class="column6"><a href = "{% url 'railway:ticket' pk=student.pk %}">{{student.student_aadhar}}</a></td>
											<td class="column6">{{student.student_name}}</td>
											<td class="column6">{{student.student_gender}}</td>
											<td class="column6">{{student.student_add1}}</td>
											<td class="column6">{{student.student_add1}}</td>
											<td class="column6">{{student.student_station}}</td>
											<td class="column6">{{student.college.college_location}}</td>
											<td><input type="checkbox" class="column6"></td>
										</tr>	
									{% endfor %}
										
								</tbody>
							</table>
				</div>
			</div>
		</div>
	</div>
	
			


	
<!--===============================================================================================-->	
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="js/main.js"></script>
	<script>
		function newPage(){
			window.open("{% url 'railway:ticket' %}")
		}
	</script>

</body>
</html>