<!DOCTYPE html>
<html lang="en">
<head>
	{% load static %}
	<title>Concession Form</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'college/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'college/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'college/main1.css' %}">
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-table100">
			<div class="wrap-table100">
				<div class="table100">
					<table>
						<thead>
							<tr class="table100-head">
								<th class="column6">Aadhar No.</th>
								<th class="column6">Name</th>
								<th class="column6">Gender</th>
								<th class="column6">Address 1</th>
								<th class="column6">Address 2</th>
								<th class="column6">From</th>
								<th class="column6">To</th>
							</tr>
						</thead>
						<tbody>
							{% for student in students %}
								<tr>
									<td class="column6">{{student.student_aadhar}}</td>
									<td class="column6">{{student.student_name}}</td>
									<td class="column6">{{student.student_gender}}</td>
									<td class="column6">{{student.student_add1}}</td>
									<td class="column6">{{student.student_add2}}</td>
									<td class="column6">{{student.student_station}}</td>
									<td class="column6">Vile Parle</td>
								</tr>
							{% endfor %}
								
						</tbody>
					</table>
					<center>
						<a href="{% url 'college:Add-Student' %}">
							<button class="btn btn-warning btn1">Add Student</button></center>
						</a>
				</div>
			</div>
		</div>
	</div>


	

</body>
</html>